.contactHeading {
  margin-top: 95px;
  text-align: center;
  padding-bottom: 5px;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #def2f1;
}

.contactHeading h1 {
  padding-bottom: 5px;
  border-bottom: 2px dotted;
  /* margin: 0; */
  color: #3aafa9;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 42px;
}

.formSec {
    display: flex;
    padding: 50px 100px;
    justify-content: space-around;
    background: #def2f1;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
}

.cDetail {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    align-items: center;
    margin: 10px 0;
}

.cIcon {
    padding: 10px;
    border: 2px solid;
    border-radius: 50%;
    background-color:#def2f1; ;
}

.cuIcon {
    align-self: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center;
}

.ciText h3, .ciText p{
    margin: 0;
}

.form {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-shadow: 4px 0px 10px -2px rgba(33, 40, 51, 0.6),
               -4px 0px 10px -2px rgba(33, 40, 51, 0.6);
    
    background-color: #3aafa9;
    border-radius: 10px;
  }
  
  .formDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .formDesc h3 {
    margin: 0;
  }
  
  .formDesc h4 {
    font-weight: 300;
    font-size: 16px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .cFContent {
    padding: 10px;
    border: none;
    background-color: aliceblue;
    width: 90%;
    font-size: 1rem;
    border-radius: 15px;
  }
  
  .red {
    display: contents;
    color: red;
  }
  
  .contactBtn {
    background-color: #fff;
    color: #0f4d92;
    font-weight: 600;
  }
  
  .contactFormLabel {
    border: none;
    display: flex;
    width: 92%;
    color: #fff;
    font-weight: 600;
  }