.serviceOverview {
    /* width: 40%; */
    height: 220px;
    border: 1px solid black;
    margin-top: 30px;
    background-color: #2b787a;
    color: #def2f1;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    display: flex;
}

.serviceOverview:hover {
    transform: translateY(-10px); 
}

#nameLink {
    color: #fff;
}

.sImg {
    /* height: 250px; */
    max-width: 380px;
    width: 40%;
    /* -webkit-box-shadow: 8px 14px 20px rgba(0, 0, 0, .6);
    box-shadow: 8px 14px 20px rgba(0, 0, 0, .6); */
    padding: 10px;
}

.serviceOverview:nth-child(odd) .sImg {
    order: 1;
}

.sImg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 8px 14px 20px rgba(0, 0, 0, .6);
    box-shadow: 8px 14px 20px rgba(0, 0, 0, .6);
}

.serviceData {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
}

.sHead {
    padding: 10px;

}

.sHead h3 {
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px dotted;
    text-transform: uppercase;
    font-weight: 600;
    width: fit-content;
}

.sDesc {
    padding: 10px;
}

.sDesc p {
    font-weight: 400;
    margin: 0;
}

.link {
    text-decoration: none;
    color: #17252a;
    font-weight: 600;
}

.seeMoreBtn {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 430px) { 
    .serviceOverview {
        flex-direction: column;
        height: auto;
    }

    .serviceData {
        width: auto;
        padding: 10px;
    }

    .sImg {
        width: auto;
        order: 1;
    }


}