.footer {
    background-color: #17252a;
    color: #fff;
}

.footerUp {
    display: flex;
    padding: 30px 150px;
    justify-content: space-between;
    align-items: flex-start;
}

.footerColumn {
    display: flex;
    flex-direction: column;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.socialMedia h2, .fMenu h2, .fContactInfo h2, .business h2 {
    text-transform: uppercase;
    color: #3aafa9;
}

.socialMedia p {
    margin: 0;
    margin-bottom: 15px;
    /* width: 230px; */
    text-align: justify;
}

.hours {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hours p {
    margin: 0;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fLink {
    color: #3aafa9;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.fLink:hover {
    color: #fff;
}

.pri:hover {
    text-decoration: underline;
}

.fContacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fContacts p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.fsLink {
    color: #3aafa9;
    font-size: 30px;
    display: flex;
}

.fsLink :hover {
    color: #fff;
}

.smIcons {
    display: flex;
    gap: 10px;
}

.footerDown {
    border-top: 1px solid;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
}

.privacyLinks {
    display: flex;
    gap: 15px;
}

@media (max-width: 1024px) {
    .footerUp, .footerDown, .socialMedia {
        padding: 20px 80px;
    }
}

@media (max-width: 786px) {
    .footerUp, .footerDown, .socialMedia {
        padding: 20px 50px;
    }

    .fContactInfo {
        width: 40%;
    }
}

@media (max-width: 430px) {
    .footerUp {
        padding: 10px 20px;
        flex-direction: column;
    }

    .footerDown {
        padding: 10px 20px;
        flex-direction: column;
    }
}