@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.aboutSec {
    padding: 0 100px;
}

.aboutSec h3 {
    font-weight: 500;
    /* color: #a65445; */
    color: #041434;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 0;
    border-bottom: 1px dotted;
    width: fit-content;
}

.aboutSecText {
    font-weight: 500;
    color: #17252a;
    font-size: 17px;
    line-height: 27px;
    font-family: 'Open Sans', sans-serif;
}

.joinUs {
    background-color: #1c395f;
    height: 22vh;
}

.joinUs img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
}

.joinUs p {
    position: relative;
    padding: 50px 100px;
    line-height: 27px;
    color: #fff;
    font-size: 24px;
    margin: 0;
    text-shadow: 3px 3px 4px #000;
}

@media (max-width: 1024px) {
    .joinUs {
        height: 35vh;
    }

    .aboutSec {
        padding: 0 80px;
    }
}

@media (max-width: 786px) {
    .aboutSec {
        padding: 0 50px;
    }

    .joinUs p {
        padding: 20px 50px;
    }

}

@media (max-width: 430px) {
    .aboutSec {
        padding: 0 20px;
    }

    .joinUs {
        height: auto;
    }

    .joinUs p {
        padding: 25px 10px;
        font-size: 18px;
    }

    .joinUs img {
        height: 39vh;
    }
}